name: Deploy to VPS

on:
  push:
    branches: ['main']

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Cache Next.js build
        uses: actions/cache@v5
        with:
          # This is where Next.js stores its internal build artifacts
          path: ${{ github.workspace }}/.next/cache
          # Use a key that includes the lockfile hash AND a hash of your source code
          # to ensure the cache updates when your logic changes.
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**/*.js', '**/*.jsx', '**/*.ts', '**/*.tsx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

      - name: Application build
        env:
          NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY: ${{secrets.PUBLISHABLE_KEY}}
          NEXT_PUBLIC_BASE_URL: https://shop.pinnaclesystems.co.in
          NEXT_PUBLIC_DEFAULT_REGION: in
          NEXT_PUBLIC_STRIPE_KEY: blank
          NEXT_PUBLIC_SITE_NAME: 'Pinnacle Marketplace'
          NEXT_PUBLIC_SITE_DESCRIPTION: 'Pinnacle Marketplace is a marketplace for buying and selling products.'
          NEXT_PUBLIC_ALGOLIA_ID: ${{secrets.ALGOLIA_APP_ID}}
          NEXT_PUBLIC_ALGOLIA_SEARCH_KEY: ${{secrets.ALGOLIA_SEARCH_API_KEY}}
        run: npm ci && npm run build:standalone

      - name: Deploy to VPS
        uses: easingthemes/ssh-deploy@v5.1.0
        with:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          ARGS: '-az --delete --stats'
          SOURCE: .next/standalone/
          REMOTE_HOST: ${{ secrets.REMOTE_HOST }}
          REMOTE_USER: ${{ secrets.REMOTE_USER }}
          TARGET: ${{ secrets.REMOTE_TARGET }}/storefront/
          SCRIPT_AFTER: |
            . ~/.nvm/nvm.sh
            nvm use 24

            export NODE_ENV=production
            export MEDUSA_BACKEND_URL=https://backend.shop.pinnaclesystems.co.in
            export REVALIDATE_SECRET=${{secrets.REVALIDATE_SECRET}}
            export NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=${{secrets.PUBLISHABLE_KEY}}
            export NEXT_PUBLIC_BASE_URL=https://shop.pinnaclesystems.co.in
            export NEXT_PUBLIC_DEFAULT_REGION=in
            export NEXT_PUBLIC_STRIPE_KEY=blank
            export NEXT_PUBLIC_SITE_NAME='Pinnacle Marketplace'
            export NEXT_PUBLIC_SITE_DESCRIPTION='Pinnacle Marketplace is a marketplace for buying and selling products.'
            export NEXT_PUBLIC_ALGOLIA_ID=${{secrets.ALGOLIA_APP_ID}}
            export NEXT_PUBLIC_ALGOLIA_SEARCH_KEY=${{secrets.ALGOLIA_SEARCH_API_KEY}}

            cd ${{ secrets.REMOTE_TARGET }}/storefront

            pm2 reload shop-storefront --update-env || pm2 start node --log-date-format "YYYY-MM-DD HH:mm:ss Z" --name shop-storefront -- server.js
